html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.main{
    width: 880px;
    margin: 0 auto;
    /* background-color: brown; */
}
.main>header{
    text-align: center;
    /* padding-top: 40px;
    padding-bottom: 20px; */
}
.main>header>img.logo{
    width: 150px;
    /* display: block;
    margin: 0 auto; */
    margin-top: 40px;
    margin-bottom: 20px;
}
.main>nav{
    border-top: 1px solid #898000;
    border-bottom: 1px solid #898000;
    margin-bottom: 20px;
    /* background-color: red; */
}
.main>nav>ul>li{
    /* background-color: red; */
    display: inline-block;
    width: 32%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}
.main>nav>ul>li>.nav_item{
    text-decoration: none;
    color: #000;
    display: block;
}
.main>nav>ul>li>.nav_item:hover{
    background-color: #DCDDDD;
}

.main>.content img{
    width: 100%;
}

.en_text{
    color: #898000;
}

