@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

}

a:hover{
  color: inherit;
  text-decoration: none;
}
body{
  color: #484848;
}
#header{
  box-shadow: 0 3px 5px rgb(236 236 236 / 50%);
  border-bottom: 1px solid #cbd0d9;
  z-index: 2;
  position: fixed;
  .logo_text{
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.06em;
    color: #727272;
    border: 1px solid #727272;
    padding: 0 8px;
    background: #fff;
    height: 28px;
    line-height: 26px;
  }
  a:hover .logo_text{
    animation: hover-shine 1.5s cubic-bezier(0, 0.58, 1, 0.44) infinite;
  }
  nav>ul>li>a{
    color: rgba(0, 0, 0, 0.9);
    font-weight: bold;
  }
  nav>ul>li:hover a{
    color: #007cc1;
  }
  .header_btn{
    color: #333;
    padding: 10px 20px;
    border: 2px solid #f7b157;
    border-radius: 50px;
    font-weight: bold;
    letter-spacing: 0.2em;
    text-align: center;
    transition: all .5s;
    &:hover{
      color: #fff;
      background:linear-gradient(135deg,#f6d365,#fda085);
    }
  }
}
.plan_btn{
  padding: 0.5rem 6rem;
  background: #ffdd3d;
  border-radius: 100px;
  font-size: 22px;
  font-weight: bold;
  color: black;
  letter-spacing: 0.5em;
  border: 4px solid white;
  position: relative;
  display: inline-block;
  &:hover{
    background: #ffec7f;
    border: 4px solid #ffec7f;
  };
  &::before{
    content: "→";
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 8px;
  }
}


.introduce_list{
  >li{
    width: 100%;
    padding: 3px 0;
    list-style: circle inside;
    b{
      position: relative;
      z-index: 1;
    }
    b::after{
      content: "";
      position: absolute;
      width: 100%;
      height: 10px;
      bottom: 0;
      left: 0;
      background: #ffde25;
      z-index: -1;
    }
  }
}

//手機版客製調整
@media (max-width:1023px){
  #header{
    border-bottom: none;
    nav{
      position: absolute;
      top:70px;
      width: 100%;
      left: 0;
      text-align: center;
      background: #f6f8fd;
    }
    nav>ul>li>a{
      display: block;
      padding: 15px 0;
    }
  }
}


::selection {
  color: black;
  background: #ffde25;
}



@keyframes hover-shine {
  0%{
    background: #52b14c;
    color: white;
  }
  25%{
    background: #ffdd3d;
    color: white;
  }
  50%{
    background: #f8b158;
    color: white;
  }
  75%{
    background: #f15b3a;
    color: white;
  }
  100%{
    background: #28b2ee;
    color: white;
  }
}