<header id="header" uk-nav class="flex items-center h-[70px] px-[15px] lg:px-[15px] xl:px-[55px] bg-[#f6f8fd] w-full gap-[10px]">
    <a class="flex items-center gap-[10px] pr-[5px] xl:pr-[30px]" href="#">
        <img class="h-[32px]" src="img/logo-teaching.png" alt="">
        <div class="logo_text">線上開課工具!</div>
    </a>
    <nav class="uk-parent mx-auto xl:ml-14">
        <a class="absolute top-[-42px] right-[21px]" href="#"><img class="lg:hidden ml-auto" src="img/icon_bars.svg" alt=""></a>
        <ul uk-scrollspy-nav="closest: li; scroll: true" class="flex flex-col lg:!flex lg:flex-row gap-[15px] xl:gap-[30px]">
            <li><a href="#scroll_1">線上開課工具</a></li>
            <li><a href="#scroll_2">功能特色</a></li>
            <li><a href="#scroll_3">方案費用</a></li>
            <li><a href="#scroll_4">客戶案例</a></li>
            <li><a href="#scroll_5">關於我們</a></li>
            <li><a href="#scroll_6">藍猴首頁</a></li>
        </ul>
    </nav>
    <a class="header_btn hidden lg:block" href="#">FREE! 免費開通試用</a>
</header>